---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="posts">

  {% for post in paginator.posts %}
    {% if post.layout != "page" %}
    <div class="col-3 col-s-6">
      <div class="container-div">
       <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.teaser }}" alt="{{ post.title }}" style="width:100%;"></a>
      </div>
      <article class="post">
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>

      <div>
        <!-- <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span> -->

        <!-- Look the author details up from the site config. -->
        {% assign author = site.data.authors[post.author] %}

        {% if author %}
            <span>
                <!-- Personal Info. -->
                作者: <a href="{{ author.web }}">{{ author.name }}</a>
            </span>
        {% endif %}

        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>

      <!--
      <div class="entry">
        {{ post.excerpt }}
      </div>
      -->

    </article>
    </div>
    {% endif %}
  {% endfor %}

</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#xE000; Previous
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#xE001;
      </a>
    </span>
  {% endif %}
</div>

<div>
	<span>
	Site [![Latest GitHub commit](https://img.shields.io/github/last-commit/chinatimeline/chinatimeline.github.io?logo=github&label)](https://github.com/chinatimeline/chinatimeline.github.io) | [![GitHub stars](https://img.shields.io/github/stars/chinatimeline/chinatimeline.github.io)](https://github.com/chinatimeline/chinatimeline.github.io/stargazers) 
	</span>

	<span>
	Data: [![Latest GitHub commit](https://img.shields.io/github/last-commit/chinatimeline/data?logo=github&label)](https://github.com/chinatimeline/data) | [![GitHub stars](https://img.shields.io/github/stars/chinatimeline/data)](https://github.com/chinatimeline/data/stargazers) 
	</span>
</div>

{% include social-share.html %}

