<div align="center" style="background-color: #e9ecef;">
  <div class="container-post">
    <div>
      项目状态：数据
        <a href="https://github.com/chinatimeline/data" target="_blank"><img class="inline" stype="max-width:100px" src="https://img.shields.io/github/commit-activity/m/chinatimeline/data?style=social" alt="Commit Activity"></a>
        <a href="https://github.com/chinatimeline/data/stargazers" target="_blank"><img class="inline"  src="https://img.shields.io/github/stars/chinatimeline/data?style=social" alt="GitHub stars"></a>
      , 代码
        <a href="https://github.com/chinatimeline/chinatimeline.github.io" target="_blank"><img class="inline" src="https://img.shields.io/github/commit-activity/m/chinatimeline/chinatimeline.github.io?style=social" alt="Commit Activity"></a>
        <a href="https://github.com/chinatimeline/chinatimeline.github.io/stargazers" target="_blank"><img class="inline" src="https://img.shields.io/github/stars/chinatimeline/chinatimeline.github.io?style=social" alt="GitHub stars"></a>
    </div>

    <div>遵守MIT协议，引用请注明出处。欢迎提交内容、分享传播！</div>
  </div>

  <div>
    {% include social-share.html %}
  </div>
</div>
