<div align="center" style="background-color: #e9ecef;">
  <div class="container-post">
    <div>时代透镜与<a href="https://github.com/Terminus2049/Terminus2049.github.io">端点星</a>互相独立。呼吁当局立即释放<a href="https://www.scmp.com/news/china/politics/article/3081569/chinese-activists-detained-after-sharing-censored-coronavirus">蔡伟、小唐、陈玫三人</a>。<div>
    <div>
      项目状态：数据
        <a href="https://github.com/chinatimeline/data" target="_blank"><img class="inline" stype="max-width:100px" src="https://img.shields.io/github/commit-activity/m/chinatimeline/data?style=social" alt="Commit Activity"></a>
        <a href="https://github.com/chinatimeline/data/stargazers" target="_blank"><img class="inline"  src="https://img.shields.io/github/stars/chinatimeline/data?style=social" alt="GitHub stars"></a>
      , 代码
        <a href="https://github.com/chinatimeline/chinatimeline.github.io" target="_blank"><img class="inline" src="https://img.shields.io/github/commit-activity/m/chinatimeline/chinatimeline.github.io?style=social" alt="Commit Activity"></a>
        <a href="https://github.com/chinatimeline/chinatimeline.github.io/stargazers" target="_blank"><img class="inline" src="https://img.shields.io/github/stars/chinatimeline/chinatimeline.github.io?style=social" alt="GitHub stars"></a>
    </div>

    <div>遵守MIT协议，引用请注明出处。欢迎<a href="/form" >提交</a>内容、分享传播！</div>
  </div>

  <div>
    {% include social-share.html %}
  </div>
</div>
