<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
<script>
/* post pagination keyboard shortcuts */
  d3.csv('{{ page.chart.csv }}')
    .then(makeChart);

  var timeFormat = 'YYYY-MM-DD';
  var tzoffset = ((new Date()).getTimezoneOffset() - 8*60) * 60000;
  var today = new Date(Date.now() - tzoffset);

  Chart.defaults.line.spanGaps = true;

  function SerialDateToJSDate(serialDate, offsetUTC) {
    return new Date(Date.UTC(0, 0, serialDate, offsetUTC));
  }

  function makeChart(players) {
    var playerDates = players.map(function(d) {return SerialDateToJSDate(d.{{ page.chart.xAxes.xCol }} -1, 8).toISOString().substring(0, 10)});
    var playerMark = today.toISOString().substring(0,10);
    var playerNow  = today.toISOString().substring(0,19);

    {% for dataset in page.chart.datasets %}
    var {{ dataset[1].Col }} = players.map(function(d) {return d.{{ dataset[1].Col }}});
    {% endfor %}


    var chart = new Chart('chart', {
      type: 'line',
      data: {
        labels: playerDates,
        datasets: [
          {% for dataset in page.chart.datasets %}
          {
            data: {{ dataset[1].Col }},
            spanGaps: true,
            lineTension: 0,
            label: '{{dataset[0]}}',
            borderColor: '{{ dataset[1].borderColor }}',
            {% if dataset[1].fill == false %}fill: {{ dataset[1].fill }},{% endif %}
            {% if dataset[1].borderWidth %}borderWidth: {{ dataset[1].borderWidth }},{% endif %}
            {% if dataset[1].borderDash %}borderDash: {{ dataset[1].borderDash }},{% endif %}
            {% if dataset[1].hidden %}hidden: {{ dataset[1].hidden }},{% endif %}
            {% if dataset[1].pointStyle %}pointStyle: '{{ dataset[1].pointStyle }}',{% endif %}
          },
          {% endfor %}
        ]
      },
      options: {
        title: {
          display: true,
          text: '{{ page.chart.title }}'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        responsive: true,
        scales: {
          xAxes: [{
            //type: 'time',
            time: {
                    parser: timeFormat,
                    unit: 'day'
                },
            stacked: {{ page.chart.xAxes.stacked }},
            scaleLabel: {
                  display: true,
                  labelString: '日期(UTC+8, End of Day)',
                  fontStyle: 'bold'
                },
          }],
          yAxes: [{
            type: '{{ page.chart.yAxes.type }}',
            stacked: {{ page.chart.yAxes.stacked }}
          }]
        },
          annotation: {
            annotations: [
              {
                type: "line",
                mode: "vertical",
                scaleID: "x-axis-0",
                value: playerMark,
                borderColor: "#900C3F",
                borderDash: [10,3],
                label: {
                  content: "今天: ".concat(playerMark),
                  enabled: true,
                  position: "bottom"
                }
              }
            ]
          }
      }
    });
  }

</script>
