{% for slug in site.data.types %}
{% if page.slug == slug[1].name %}
<div class="col-7 col-s-7">
  <h3>最近获得批准的提交</h3>
  {% assign comments = site.data.comments %}
  {% for comment in comments reversed %}
    {% if comment[1].topic == slug[1].name %}
    {% assign commentData = comment[1] %}
    <div class="comments">
      <div>
        {{ commentData.event | markdownify }}
      </div>

      <div>
        <span class="date">
          日期：{{ commentData.date | date: "%Y-%m-%d" }},
        </span>
        <span class="tag">
          类型：{{ commentData.type }},
        </span>
        <span class="tag">
          影响：{{ commentData.significance }}星,
        </span>
        <span class="tag">
          <a href="{{ commentData.url }}">相关新闻</a>,
        </span>
        <span class="date">
          提交时间:{{ commentData.submitTime | date: "%Y-%m-%d"}}
        </span>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endfor %}
