{% for slug in site.data.types %}
{% if page.slug == slug[1].name %}
{{ slug.slug }}
<div class="comments">
  <h4>最近提交事件</h4>
  {% assign comments = site.data.comments | sort %}
  {% for comment in comments reversed %}
    {% if comment[1].topic == slug[1].name %}
    {% assign commentData = comment[1] %}
    <article class="comment">
      <hr>
      <div class="comment-event">
        {{ commentData.event | markdownify }}
      </div>
      <p class="comment-date">日期： {{ commentData.date | date: "%Y-%m-%d" }},
        类型： {{ commentData.type }}, 影响： {{ commentData.significance }}星,
        <a href="{{ commentData.url }}">相关新闻</a>,
        提交时间: {{ commentData.submitTime | date: "%Y-%m-%d"}}
       </p>
    </article>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endfor %}
