<div class="row">
  <a name="submit"></a>
{% for slug in site.data.types %}
  {% if page.slug == slug[1].name %}
    <hr>
    <div class="col-5 col-s-5">
      <h3>提交新闻事件</h3>
      <div class="comments">
        <form method="POST" action="{{ site.localserver.api }}">
          <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
          <input name="options[slug]" type="hidden" value="{{ slug[1].slug }}">
          <input name="fields[topic]" type="hidden" value="{{ slug[1].name }}">
          <div style="width:100%; display:table">
            <label style="display:table-cell;width=1px;">发生日期:</label> <input name="fields[date]" type="date" style="display:table-cell;"><br>
          </div>
          <div style="width:100%; display:table">
            <label style="display:table-cell;width=1px;">标题: </label><input name="fields[title]" type="text" cols="48"  placeholder="2-20字 不出现在时间线中"  style="display:table-cell; width:100%"><br>
          </div>
          <label>事件描述: </label><br><textarea name="fields[event]" rows="6" placeholder="20-100字的简要描述，包括具体的时间地点人物事件等。" class="event-description"></textarea><br>
          <div style="width:100%; display:table">
            <label style="display:table-cell;width=1px;">所属类型:</label>
            <span stype="display:table-cell;width=100%;">
              {% for type in slug[1].types %}
              <input name="fields[type]" type="radio" value="{{ type }}">{{ type }}<br>
              {% endfor %}
            </span>
          </div>
          <div style="width:100%; display:table">
            <label style="display:table-cell;width=1px;">重要性:</label>
            <span stype="display:table-cell;width=100%;">
              {% for i in site.data.ratings %}
              <input name="fields[significance]" type="radio" value="{{ i }}"> {{ i }}
              {% endfor %}
            </span>
          </div>
          <div style="width:100%; display:table">
            <label  style="display:table-cell;width=1px;">新闻链接: </label><input name="fields[url]" type="url" style="display:table-cell; width:100%"><br>
          </div>
          <input type="submit" value="点此提交"> 查看<a href="https://github.com/chinatimeline/chinatimeline.github.io/pulls">已提交队列</a>
        </form>
      </div>

      <div>
        {% include boilerplate-submit.html %}
      </div>
    </div>
    {% include comments-split.html %}
    <hr>
  {% endif %}
{% endfor %}
</div>
