<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    {% include boilerplate-privacy.html %}

    {% if page.chart %}{% include chartjs.html %}{% endif %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
    </script>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include back-to-top.html %}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
