---
layout: default
---


    <article class="post">
      <div align="center">
        <h1>{{ page.title }}</h1>

        <!-- Look the author details up from the site config. -->
        {% assign author = site.data.authors[page.author] %}

        <div>
          <span class="date">
            {{ page.date | date: "%Y-%m-%d" }}
          </span>

          <!-- Output author details if some exist. -->
          {% if author %}
              <span>
                  <!-- Personal Info. -->
                  作者: <a href="{{ author.web }}">{{ author.name }}</a>
              </span>
          {% endif %}

          <ul class="tag">
            {% for tag in page.tags %}
            <li>
              <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                {{ tag }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <span class="tag">
            页内传送: 
          </span>

          <span class="tag">
            <a href="#submit">#提交内容</a>,
          </span>

          <span class="tag">
            <a href="#story">#图文故事线</a>
          </span>

        </div>
      </div>

      <div class="entry col-12 col-s-12">
        {{ content }}
      </div>

      <div class="pagination">
        {% if page.previous.url %}
          <span class="prev" >
              <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
                上一篇：{{ page.previous.title }}
              </a>
          </span>
        {% endif %}
        {% if page.next.url %}
          <span class="next" >
              <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
                下一篇：{{ page.next.title }}
              </a>
          </span>
        {% endif %}
      </div>

      {% if page.submit %} {% include submit-story.html %} {% endif %}

      {% include timeline-yaml.html %}
    </article>


    <div class="pagination">
      {% if page.previous.url %}
        <span class="prev" >
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
              上一篇：{{ page.previous.title }}
            </a>
        </span>
      {% endif %}
      {% if page.next.url %}
        <span class="next" >
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
              下一篇：{{ page.next.title }}
            </a>
        </span>
      {% endif %}

      <script>
      /* post pagination keyboard shortcuts */
      document.body.onkeyup = function(e){
        if (e.keyCode == '112') { window.location = '{{ page.previous.url }}'; } // left arrow key
        if (e.keyCode == '113') { window.location = '{{ page.next.url }}'; } // right arrow key
      };
      </script>

    </div>

    {% include social-share.html %}


    {% if page.comments %} {% include disqus.html %} {% endif %}


    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
